body{font-family: sans-serif;}
.parallax{
    background-image:linear-gradient(to top,rgba(0, 0, 0, .2),rgba(0,0,0,0.8)),url('bg.jpeg');
    margin:-15px;
    height:100%;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.text {
    background-color: white;
    color: black;
    font-size: 7vw; /* Responsive font size */
    font-weight: bold;
    letter-spacing: 12px;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }
 ul{overflow: hidden;
    position: absolute;
    list-style-type: none;
    float:right;left:60%;}
li{display:inline-block;
    right:0;
    color:white;
    margin:20px;
    padding:10px;
    }
li a{text-decoration: none;
    color:white;}
li a:hover{
    border-bottom:4px solid grey;
}
section{
    height:900px;
}
#about{
    margin:20px;
    margin-top:70px;
    height:450px;
}
#qts{
    height:250px;
}
.abt-img , .abt-contnt{width:50%;float:left;}
h1{padding:10px;text-align:center;letter-spacing: 5px;
    text-decoration: underline;
}
p{
    font-variant: small-caps;text-indent: 100px;font-size:15px;line-height:30px;
    opacity:0.6;
}
h1::first-letter{
    font-size: 150%;
    color:slateblue
}
.qts-txt{color:white;text-align:center;padding-top:100px;font-family:Impact,sans-serif
;letter-spacing:9px;font-size:35px;}
.gallery img{height:auto;width:300px;
margin:15px
}
#gallery{
    margin:30px;
    height:700px;
}
  .img{transition: all .2s ease-in-out;
    
  }
  .img:hover{
    transform: scale(1.1);
    cursor: pointer; 
  }
  #contact{
      background:linear-gradient(to left, #360033,#0b8793);
      margin:-25px;
  }
  form{margin:50px;
width:50%;}
input{width:80%;padding:10px;color:white;
margin:24px;font-size:20px;background-color:transparent;border:2px solid white;border-radius:15px;}
input::placeholder{color:white;}
input:focus{border:none;}
button{
    color:white;
    background-color:purple;
    padding:10px 30px 10px 30px;
    margin:30px;
    border-color:transparent;
    border-radius:10px;
}
@media(max-width:900px){
ul{left:0px;}
li{padding:0px;}
.abt-img , .abt-contnt{width:100%;float:left;}
#about{height:800px;}
#qts{height:300px}
#gallery{height:2000px;}
#contact{height:1000px;}
form{width:80%;}
}