<html>

<head>
    <title>{{name}} || {{date}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <div class="nav">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</head>

<body>
    <div class="parallax" id="home">
        <div class="text">NATURE</div>

    </div>
    <section id="about">
        <div class="abt-img">
            <img src="bg.jpeg" alt="" width="90%" height="auto">
        </div>
        <div class="abt-cntnt">
            <h1 class="abt-hdr">ABOUT US</h1>
            <p class="abt-txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur minima aut, laudantium optio fuga adipisci, vel pariatur, quisquam
                repellendus illum odio ullam voluptatibus magnam reiciendis obcaecati aspernatur
                consequuntur autem eaque..Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Temporibus vel quaerat pariatur aperiam non dicta deserunt, repellendus explicabo.
                Illum a eius aperiam optio eos modi eaque aspernatur dolores consequatur sunt.Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Esse illum minus cum vero ipsa eum.
                Cumque enim quia maxime, placeat hic ea cum quibusdam sequi, quaerat doloribus quasi
                quod! Repellendus?.Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                aliquam commodi explicabo ex sunt molestiae, totam numquam quos sit quo? Reiciendis,
                commodi sapiente. Consectetur magnam nostrum rerum, iusto architecto deleniti!</p>
        </div>
    </section>
    <section id="qts">
        <div class="parallax">
            <h2 class="qts-txt">"Go for a better tommorrow"</h2>
        </div>
    </section>
    <section id="gallery">
        <h1 class="gallery">Gallery</h1>
        <div class="gallery">
                <img src="bg.jpeg" alt="" class="img" target="_blank">
                <img src="bg.jpeg" alt="" class="img">
                <img src="bg.jpeg" alt="" class="img">
                <img src="bg.jpeg" alt="" class="img">
                <img src="bg.jpeg" alt="" class="img">
                <img src="bg.jpeg" alt="" class="img">
                <img src="bg.jpeg" alt="" class="img">
                <img src="bg.jpeg" alt="" class="img">
            

        </div>

    </section>
    <section id="contact"><br>
        <h1 style="color:white;">Contact Us</h1>
        <form action="">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Age">
            <input type="text" placeholder="Phone">
            <input type="text" placeholder="Pin"><br>
            <input type="email" placeholder="E-mail"><br>
            <button style="margin-left:30px;" onclick="alet()">SEND</button>
        </form>    
        
    </section>

</body>
<script>
function alet() {
    alert("Your message has been send. Thanks for your reply!!");
}
</script>

</html>